@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

img {
  vertical-align: top;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 0 calc((100% - 1170px) / 2);
}
@media screen and (max-width: calc(100% - 1px)) {
  .container {
    max-width: 1170px;
    padding: 0 calc((1170px - 992px) / 2);
  }
}
@media screen and (max-width: calc(1170px - 1px)) {
  .container {
    max-width: 992px;
    padding: 0 calc((992px - 768px) / 2);
  }
}
@media screen and (max-width: calc(992px - 1px)) {
  .container {
    max-width: 768px;
    padding: 0 calc((768px - 640px) / 2);
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .container {
    max-width: 640px;
    padding: 0 calc((640px - 480px) / 2);
  }
}
@media screen and (max-width: calc(640px - 1px)) {
  .container {
    max-width: 480px;
    padding: 0 20px;
  }
}
@media screen and (max-width: calc(480px - 1px)) {
  .container {
    max-width: 100%;
  }
}

.intro-btn {
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  left: calc((100% - 40px) / 2);
  bottom: 50px;
  transition: all 0.3s;
}
.intro-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.intro-btn::after {
  content: "";
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12.5px;
  left: 14px;
  transform: rotateZ(-45deg);
}

.--btn {
  border: 1px solid #2C4058;
  background-color: white;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 14px;
  color: black;
  transition: all 0.3s;
}
.--btn:hover {
  background-color: lightgray;
}
.--btn:active {
  background-color: rgb(182, 182, 182);
}

.--title {
  color: #2C4058;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  padding-top: 30px;
  position: relative;
  text-align: center;
}
.--title::after {
  content: "";
  width: 100px;
  position: absolute;
  top: 0;
  height: 1px;
  background-color: #2C4058;
  left: calc((100% - 100px) / 2);
}

.swiper-intro {
  width: 100%;
  height: 100vh;
  overflow: visible;
  position: static;
}

.intro-swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-intro {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 40%;
  right: -100px !important;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  transition: all 0.3s;
  background-color: rgba(85, 184, 255, 0);
  border: 1px solid white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: white;
}
.swiper-pagination-news {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.intro-slide {
  color: white;
  text-align: center;
}
.intro-slide__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  margin-bottom: 20px;
}
.intro-slide__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.swiper {
  min-height: 592px;
  position: relative;
}
.swiper-button-prev, .swiper-button-next {
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  bottom: 50px;
  transition: all 0.3s;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: "";
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 14px;
}
.swiper-button-prev {
  left: calc((100% - 1170px) / 2 - 100px);
}
.swiper-button-prev::after {
  transform: translateX(2px) rotateZ(45deg);
}
.swiper-button-next {
  right: calc((100% - 1170px) / 2 - 100px);
}
.swiper-button-next::after {
  transform: translateX(-2px) rotateZ(-135deg);
}

.header {
  position: absolute;
  top: 53px;
  width: 100%;
  z-index: 10;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  color: white;
  cursor: pointer;
  margin: 0 35px;
  padding-left: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}
.header__nav-item::after {
  content: "";
  left: 0;
  top: 4.5px;
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
  transition: all 0.3s;
}
.header__nav-item::before {
  transition: all 0.3s;
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: white;
  left: 3px;
  top: 8px;
  border-radius: 50%;
  opacity: 0;
}
.header__nav-item:hover::before {
  opacity: 1;
}
.header__nav-item:active::after {
  background-color: white;
}

.social__item:nth-child(2) {
  margin: 0 20px;
}

.intro {
  position: relative;
  background: url(../../../assets/img/intoImg.png) center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  z-index: -1;
}

.projects {
  padding-top: 100px;
  padding-bottom: 150px;
}
.projects__title {
  margin-bottom: 147px;
}

.prj-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 177px;
}
.prj-card:last-child {
  margin-bottom: 0;
}
.prj-card__photo {
  width: 630px;
  position: relative;
}
.prj-card__photo::after {
  content: "";
  background-color: #55B7FF;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -215px;
  top: -57px;
  z-index: -1;
}
.prj-card:nth-child(2n+1) {
  flex-direction: row-reverse;
}
.prj-card:nth-child(2n+1) .prj-card__photo::after {
  background-color: #7E5AFF;
  left: 215px;
}
.prj-card__text {
  padding-top: 50px;
  width: 470px;
  color: #2C4058;
}
.prj-card__uppertitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}
.prj-card__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 19px;
}
.prj-card__p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}
.prj-card__btn {
  margin-bottom: 60px;
}
.prj-card__location {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: black;
}
.prj-card__location-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.news {
  min-height: 978px;
  background: url("../../../assets/img/news.png");
  position: relative;
  background-size: cover;
}
.news::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  z-index: -1;
}
.news__title {
  color: white;
  padding-top: 120px;
  padding-bottom: 90px;
}
.news__title::after {
  top: 90px;
  background-color: white;
}
.news__card {
  background-color: white;
  width: 370px;
}
.news__card-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
  color: #2C4058;
}
.news__card-p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 40px;
}
.news__card-user {
  display: flex;
  align-items: center;
}
.news__card-contentn {
  padding: 30px 20px;
}
.news__card-user-photo {
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}
.news__card-name {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;
}
.news__card-data {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}

.gallery {
  text-align: center;
  padding-bottom: 150px;
}
.gallery__title {
  padding-top: 150px;
  margin-bottom: 90px;
}
.gallery__title::after {
  top: 120px;
}
.gallery__photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 60px;
}
.gallery__photo:nth-of-type(1) {
  grid-area: span 2/span 2;
}
.gallery__photo:nth-of-type(2) {
  grid-row: 1/2;
  grid-column: 3/4;
}
.gallery__photo:nth-of-type(3) {
  grid-row: 1/2;
  grid-column: 4/5;
}
.gallery__photo:nth-of-type(4) {
  grid-row: 2/3;
  grid-column: 3/4;
}
.gallery__photo:nth-of-type(5) {
  grid-row: 2/3;
  grid-column: 4/5;
}

.map {
  height: 700px;
}

.footer {
  position: relative;
}
.footer__caption {
  min-height: 550px;
  background: url("../../../assets/img/footer.png");
  position: relative;
  background-size: cover;
}
.footer__caption::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  z-index: -1;
}
.footer__touch {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.329);
  padding: 60px;
  width: 770px;
  background-color: white;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.footer__touch::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../../../assets/img/formBG.png");
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__title {
  margin-bottom: 42px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.footer__contacts a {
  color: black;
  margin-bottom: 18px;
}
.footer__contacts a:last-of-type {
  margin-bottom: 0px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__input {
  width: 310px;
  border: none;
  background-color: rgba(36, 204, 250, 0);
  border-bottom: 1px solid #4B5562;
  margin-bottom: 30px;
  line-height: 40px;
  opacity: 0.5;
  color: #4B5562;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  outline: none;
  transition: all 0.3s;
}
.footer__input:focus {
  opacity: 1;
  border-bottom: 1px solid #2C4058;
  color: #2C4058;
}
.footer__btn {
  background-color: rgba(36, 204, 250, 0);
}
.footer__caption-wrapper {
  display: flex;
  gap: 350px;
  margin-bottom: 90px;
}
.footer__caption {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */